<strong>Hello {{ deliveryman}}</strong>
<p>A new delivery is waiting to be started.</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Created Date: </strong> {{ date }} <br />
  <br />
  <small>
    Please advise,
  </small>
</p>
